* {
    box-sizing: border-box;
}
:root {
    --black: black;
    --white: #f8f8f0;
}
body {
    font-family: "EB Garamond", serif;
    margin: 0;
}
.header {
    font-family: "Uncial Antiqua", serif;
}
.background {
    margin-top: -30px;
    background-image: url('./assets/Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    overflow: auto;
    display: flex;
    min-height: calc(100vh + 30px);
}
input::placeholder {
    color: #4d4d4d;
}
.introText {
    margin: 20px 0 20px 0;

}
/* Navbar */
.navbar {
    background-image: url('./assets/openart-image_IOoTSc82_1735921515997_raw.jpg');
    position: fixed;
    top: 20px;
    left: 20px;
    border-radius: 3px;
    box-shadow: 0 0 12px var(--black);
    width: calc(100% - 40px);
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.navbar a {
    padding: 0 20px 0 20px;
    text-decoration: none;
    color: var(--white);
}
.navbar a:visited,
.navbar a:active {
    color: var(--white);
}
.navbar img {
    height: 50px;
    color: var(--white);
}
#logoContainer {
    display: flex;
    align-items: center;
}
#logoIcon {
    height: 60px;
    width: auto;
}
#logoText {
    font-size: 30px;
    font-family: "Uncial Antiqua", serif;
}
#searchbar {
    background-image: url('./assets/largeParchmentBackground.jpg');
    background-size: cover;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 0 auto;
    font-family: "EB Garamond", serif;
    font-size: 20px;
    color: var(--black);
    border: 1px solid var(--black);
    box-shadow: 0 0 5px var(--black);
    width: auto;
    font-weight: 500;
}
#searchbar:focus {
    outline: none;
}
#searchbar:hover {
    box-shadow: 0 0 2px var(--black);
}
#searchbar::placeholder {
    color: var(--black);
}
#searchbarContainer button {
    background-image: url('./assets/largeParchmentBackground.jpg');
    background-size: cover;
    padding: 0;
    font-size: 20px;
    color: var(--black);
    border: 1px solid var(--black);
    box-shadow: 0 0 5px var(--black);
    border-radius: 5px;
    width: 90px;
    font-family: "EB Garamond", serif;
    font-weight: 500;
}
#searchbarContainer button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px var(--black);
}
#searchbarContainer {
    display: flex;
    gap: 10px;
}
.navbar > a:first-of-type {
    flex: 1; /* Take up equal space */
}
.navbar > searchbarContainer {
    flex: 2; /* Center the search bar */
}
.navbar > a:last-of-type {
    flex: 1;
}
#helmetIcon {
    height: 48px;
}
#userIconContainer {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family: "Uncial Antiqua", serif;
}
#registerText {
    font-size: 24px;
    font-family: "Uncial Antiqua", serif;
}
/*Recipes component styling*/
.recipes {
    background-image: url('./assets/largeParchmentBackground.jpg');
    background-size: cover;
    color: var(--black);
    margin: 160px auto 100px;
    text-align: center;
    align-self: flex-start;
    width: auto;
    height: auto;
    font-family: "EB Garamond", serif;
    z-index: 1;
    border-radius: 2px;
    box-shadow: 0 0 10px var(--black);
}
.category-filter {
    font-size: 20px;
    font-weight: 500;
}
.category-filter select {
    font-size: 20px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--black);
    font-family: "EB Garamond", serif;
    font-weight: 500;
}
.category-filter select:focus {
    outline: none;
}
.category-filter select:hover {
    cursor: pointer;
}
.recipes h2 {
    font-family: "Uncial Antiqua", serif;
    font-size: 30px;
    margin-top: 40px;
}
.recipe-list {
    margin: 50px 50px 50px 50px;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 50px;
}
.recipe-item {
    width: 300px;
    height: auto;
    justify-self: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.recipe-item a {
    padding: 0 20px 0 20px;
    text-decoration: none;
    color: var(--black);
    display: flex;
    flex-direction: column;
}
.recipe-list a:visited,
.recipe-list a:active {
    color: var(--black);
}
#imgContainer {
    width: 300px;
    height: 200px;
    margin: 0 auto;
}
#imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#recipeBar h3 {
    font-size: 24px;
    margin: 0;
    text-align: left;
}
.recipe-item a p {
    font-size: 24px;
    max-width: 300px;
}
#recipeBar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
#recipeBar img {
    height: 24px;
}
#recipeBar p {
    display: flex;
    align-items: center;
}
#likesAndBookmarks {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.pagination {
    grid-column: 1 / -1;
}
.pagination span {
    font-weight: 500;
}
.pagination button {
    padding: 5px 0 5px;
    font-size: 24px;
    color: var(--black);
    background: none;
    border: 1px solid var(--black);
    box-shadow: 0 0 5px var(--black);
    border-radius: 5px;
    width: 110px;
    background-image: url('./assets/openart-image_IOoTSc82_1735921515997_raw.jpg');
    color: var(--white);
    font-family: "EB Garamond", serif;
    font-weight: 500;
}
.pagination button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px var(--black);
}
#paginationNumbers {
    margin: 0 20px 0 20px;
    font-size: 24px;
}
/*Recipe Component styling*/
#recipeComponent {
    background-image: url('./assets/largeParchmentBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 200px auto 100px;
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
    backdrop-filter: blur(0);
    box-shadow: 0 0 10px var(--black);
    border-radius: 2px;
    align-self: flex-start;
}
#recipeHeaderContainer {
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}
#recipeHeaderInfo {
    text-align: left;
    max-width: 500px;
}
#recipeHeaderInfo h2 {
    font-size: 30px;
}
#recipeComponent h3 {
    font-size: 24px;
}
#recipeHeaderImg {
    height: auto;
    width: 200px;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    overflow: hidden;
}
#recipeHeaderImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#recipeIconContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.recipeIcon {
    display: flex;
    align-items: center
}
.recipeIcon img {
    height: 24px;
}
.recipeSpace {
    margin-top: 20px;
}
#recipeComponent button {
    padding: 7px 0 7px 0;
    font-size: 20px;
    color: var(--black);
    background: none;
    border: 1px solid var(--black);
    box-shadow: 0 0 5px var(--black);
    border-radius: 5px;
    width: 150px;
    background-image: url('./assets/openart-image_IOoTSc82_1735921515997_raw.jpg');
    color: var(--white);
    margin: 30px auto 0;
    font-family: "EB Garamond", serif;
    font-weight: 500;
}
#recipeComponent button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px var(--black);
}
#recipeComponent p,
#ingredientsList {
    font-size: 20px;
    font-weight: 500;
}
#ingredientsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#ingredientsList {
    list-style-position: inside;
    display: block;
    width: auto;
    text-align: left;
    margin-left: 20px;
}
#commentsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#commentsList {
    list-style: none;
    text-align: left;
    display: block;
    width: auto;
}
#commentsList li:not(:first-child) {
    margin-top: 10px;
}
/*Login component styling*/
.loginComponent {
    background-image: url('./assets/largeParchmentBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 20px 10px 20px 10px;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 600px;
    height: 600px;
    backdrop-filter: blur(0);
    box-shadow: 0 0 10px var(--black);
    border-radius: 2px;
}
.loginComponent h2 {
    font-size: 36px;
    margin: 0;
}
.loginComponent div {
    font-size: 24px;
}
.loginComponent input {
    padding: 5px 10px 5px 10px;
    margin: 10px 0 0 10px;
    font-family: "EB Garamond", serif;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid var(--black);
    background-color: transparent;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    box-sizing: border-box;
}
.loginComponent input:focus {
    outline: none;
}
.loginComponent label {
    display: block;
}
.loginComponent label span {
    display: inline-block;
    text-align: right;
    width: 114px;
    margin-right: 10px;
}
.loginComponent button {
    background-image: url('./assets/openart-image_IOoTSc82_1735921515997_raw.jpg');
    padding: 7px 12px 7px 12px;
    font-size: 24px;
    background-color: transparent;
    border: 1px solid var(--black);
    box-shadow: 0 0 5px var(--black);
    border-radius: 5px;
    margin-top: 10px;
    width: 120px;
    margin: 0 auto;
    box-sizing: border-box;
    color: var(--white);
    font-family: "EB Garamond", serif;
    font-weight: 500;
}
.loginComponent button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px var(--black);
}
/*Register component styling*/
.registerComponent {
    background-image: url('./assets/largeParchmentBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 20px 10px 20px 10px;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 600px;
    height: 600px;
    backdrop-filter: blur(0);
    box-shadow: 0 0 10px var(--black);
    border-radius: 2px;
}
.registerComponent h2 {
    font-size: 36px;
    margin: 0;
}
.registerComponent div {
    font-size: 24px;
}
.registerComponent input {
    padding: 5px 10px 5px 10px;
    margin: 10px 0 0 10px;
    font-family: "EB Garamond", serif;
    font-size: 24px;
    border: none;
    border-bottom: 2px solid var(--black);
    background-color: transparent;
    max-width: 300px;
    margin: 0 auto;
    box-sizing: border-box;
}
.registerComponent input:focus {
    outline: none;
}
.registerComponent button {
    background-image: url('./assets/openart-image_IOoTSc82_1735921515997_raw.jpg');
    font-size: 24px;
    padding: 7px 0 7px;
    background-color: transparent;
    border: 1px solid var(--black);
    box-shadow: 0 0 5px var(--black);
    border-radius: 5px;
    margin-top: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 120px;
    color: var(--white);
    font-family: "EB Garamond", serif;
    font-weight: 500;
}
.registerComponent button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px var(--black);
}
.registerComponent label {
    display: block;
}
.registerComponent label span {
    display: inline-block;
    text-align: right;
    width: 124px;
    margin-right: 10px;
}
/*User component styling*/
#userContainer {
    background-image: url('./assets/largeParchmentBackground.jpg');
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px var(--black);
}
#userProfilePicContainer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}
#userProfilePicContainer img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 2px var(--black);
}
#userContainer h3 {
    font-size: 30px;
}
#userContainer p {
    font-size: 20px;
    font-weight: 500;
}
#userPicAndDetailsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    margin: 50px 0 20px;
}
#userDetailsContainer {
    max-width: 300px;
    word-wrap: break-word;
}
#userDetailsContainer input {
    background: none;
    border: none;
    border-bottom: 1px solid var(--black);
    font-family: "EB Garamond", serif;
    font-size: 20px;
    font-weight: 500;
}
#userDetailsContainer textarea {
    background: none;
    border: 1px solid var(--black);
    font-family: "EB Garamond", serif;
    font-size: 20px;
    font-weight: 500;
    width: 300px;
    height: 136px;
    resize: none;
    padding: 2px;
}
#userDetailsContainer input:focus,
#userDetailsContainer textarea:focus {
    outline: none;
}
#editBtnContainer {
    display: flex;
    justify-content: center;
}
#editSaveBtn,
#editCancelBtn {
    padding: 4px 0 4px;
    font-size: 24px;
    color: var(--black);
    background: none;
    border: 1px solid var(--black);
    box-shadow: 0 0 5px var(--black);
    border-radius: 10px;
    width: 100px;
    background-image: url('./assets/openart-image_IOoTSc82_1735921515997_raw.jpg');
    color: var(--white);
    font-family: "EB Garamond", serif;
    margin: 10px;
}
#editSaveBtn:hover,
#editCancelBtn:hover {
    cursor: pointer;
    box-shadow: 0 0 2px var(--black);
}
#profileBorder {
    background-image: url('./assets/silverBackground.jpg');
    box-shadow: 0 0 5px var(--black);
    border-radius: 50%;
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#editProfileBtn {
    padding: 4px 0 4px;
    font-size: 24px;
    color: var(--black);
    background: none;
    border: 1px solid var(--black);
    box-shadow: 0 0 5px var(--black);
    border-radius: 10px;
    width: 130px;
    background-image: url('./assets/openart-image_IOoTSc82_1735921515997_raw.jpg');
    color: var(--white);
    font-family: "EB Garamond", serif;
    margin: 10px;
}
#editProfileBtn:hover {
    cursor: pointer;
    box-shadow: 0 0 2px var(--black);
}
.cardsContainer {
    margin: 20px 0 50px 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
}
#noRecipes {
    margin-bottom: 50px;
}
.bookCard {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bookCard h4 {
    font-size: 20px;
}
.userRecipeImgContainer {
    height: 100px;
    width: 120px;
}
.userRecipeImgContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#logoutButton {
    padding: 4px 0 4px;
    font-size: 24px;
    color: var(--black);
    background: none;
    border: 1px solid var(--black);
    box-shadow: 0 0 5px var(--black);
    border-radius: 10px;
    width: 100px;
    background-image: url('./assets/openart-image_IOoTSc82_1735921515997_raw.jpg');
    color: var(--white);
    font-family: "EB Garamond", serif;
    margin-bottom: 20px;
}
#logoutButton:hover {
    cursor: pointer;
    box-shadow: 0 0 2px var(--black);
} 
/*Admin dashboard component styling*/
.adminDashboard {
    align-self: center;
    text-align: center;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(450px, 1fr));
    gap: 50px;
    font-weight: 500;
}
#adminHeader {
    background-image: url('./assets/largeParchmentBackground.jpg');
    justify-self: center;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 0 0 10px var(--black);
    border-radius: 2px;
    width: 445px;
    text-align: center;
}
.adminCard {
    background-image: url('./assets/largeParchmentBackground.jpg');
    box-shadow: 0 0 10px var(--black);
    padding: 20px;
    border-radius: 2px;
}
.combinedChartContainer h1 {
    font-size: 36px;
}
.adminDashboard h2 {
    font-size: 30px;
}
.combinedChartContainer {
    background-image: url('./assets/largeParchmentBackground.jpg');
    box-shadow: 0 0 10px var(--black);
}
.combinedChart {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}
.barRow {
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.barLabel {
    width: auto;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}
.bar {
    height: 20px;
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    transition: width 0.5s ease;
}
.createCategoryContainer {
    padding: 20px;
    text-align: center;
    background-image: url('./assets/largeParchmentBackground.jpg');
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 10px;
    box-shadow: 0 0 10px var(--black);
}
.createCategoryContainer input {
    padding: 10px;
    width: 300px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--black);
    font-size: 20px;
    font-family: "EB Garamond", serif;
    font-weight: 500;
}
.createCategoryContainer input::placeholder {
    font-weight: 500;
    color: var(--black);
}
.createCategoryContainer input:focus {
    outline: none;
}
.createCategoryContainer button {
    padding: 7px 0 7px;
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
    background: none;
    border: 1px solid var(--black);
    box-shadow: 0 0 5px var(--black);
    border-radius: 5px;
    width: 150px;
    background-image: url('./assets/openart-image_IOoTSc82_1735921515997_raw.jpg');
    color: var(--white);
    font-family: "EB Garamond", serif;
}
.createCategoryContainer button:hover {
    cursor: pointer;

    box-shadow: 0 0 2px var(--black);
}
.createCategoryContainer p {
    margin-top: 10px;
    font-size: 16px;
}
/*Mediq queries*/
@media (max-width: 1440px) {
    #logoText {
        font-size: 24px;
    }
}