.notification-bell {
    position: relative;
    margin-left: 20px;
    padding: 0.5rem;
}
.bell-icon {
    background: none;
    border: none;
    position: relative;
    cursor: pointer;
}
.unread-count {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    top: 0;
    right: 0;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 3px;
    font-size: 0.8rem;
} 
.notification-dropdown {
    position: absolute;
    top: 3.5rem;
    right: 0;
    background-image: url("./assets/openart-image_IOoTSc82_1735921515997_raw.jpg");
    border: none;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0 0 8px var(--black);
    color: var(--white);
    padding: 10px;
    border-radius: 2px;
}
.notification-dropdown h2 {
    margin-left: 10px;
}
.notification-dropdown a {
    padding-left: 0;
    padding-right: 0;
    
}
.notification-dropdown ul {
    list-style: none;
} 
.notification-dropdown li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
} 
 .notification-link {
    font-weight: bold; 
}
.notification-link:hover {
    text-decoration: underline; 
}
.see-more-button {
    background-image: url('./assets/largeParchmentBackground.jpg');
    background-size: cover;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    color: var(--black);
    border: 1px solid var(--black);
    box-shadow: 0 0 5px var(--black);
    border-radius: 5px;
    width: auto;
    font-family: "EB Garamond", serif;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px auto 0;
}
.see-more-button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px var(--black);
}